.jumbotron{
    background-image: url(../assets/img/construction_jumbotron.webp);
    height: 500px;
    background-size:cover;
    a{
      text-decoration: none;
    }
    
}
.linea-sotto{

    a{
        border: 1px solid white;
        text-decoration: none;
    }
}
        
      
        
