.sezione1{
    .div1{
        line-height: 40px;
        width: 60%;
        margin: auto;
        hr{
            border-top: 2px solid orange;
            width: 200px;
            margin: auto;
           
        }
    }

    .div2{
        margin: auto;
        div{
            height: 200px;
            background-color: aquamarine;
            margin: 0 20px;
        }
    }
}
            
.sezione2{
    div{
        height: 400px;
        background-image: url(../assets/img/counter.webp);
        background-size: cover;
    }
}           
        
.sezione3{
   .div1{
       line-height: 40px;
       width: 60%;
       margin: auto;
       hr{
           border-top: 2px solid orange;
           width: 200px;
           margin: auto;
          
       }
   }

  .riga-foto{
      width: 90%;
      margin: auto;
      div{
          margin: 0 20px;
           img{
               width: 300px;
           }
      }
  }
}       
        
.sezione4{
    margin: 100px 0;
    .div1{
        line-height: 40px;
        width: 60%;
        margin: auto;
        hr{
            border-top: 2px solid orange;
            width: 200px;
            margin: auto;
        }
    }
    .div2{
        margin: auto;
        div{
            height: 200px;
            background-color: aquamarine;
            margin: 0 20px;
        }
    }
}       
           
.sezione5{
    div{
        height: 400px;
        background-image: url(../assets/img/jumbotron3.webp);
        background-size: cover;
        
    }
} 

.sezione6{
    margin: 100px 0;
    .div1{
        line-height: 40px;
        width: 60%;
        margin: auto;
        hr{
            border-top: 2px solid orange;
            width: 200px;
            margin: auto;
        }
    }
    .div2{
        margin: auto;
        div{
            height: 200px;
            background-color: aquamarine;
            margin: 0 20px;
        }
    }
}

.sezione7{
    margin: 100px 0;
    .div1{
        line-height: 40px;
        width: 60%;
        margin: auto;
        hr{
            border-top: 2px solid orange;
            width: 200px;
            margin: auto;
        }
    }
    .div2{
        margin: auto;
        div{
            height: 200px;
            background-color: aquamarine;
            margin: 0 20px;
        }
    }
}
    